BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: InlineOnly
NamespaceIndentation: None
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: AfterColon
BreakBeforeBinaryOperators: None
AllowAllParametersOfDeclarationOnNextLine: false
SortIncludes: true
IncludeCategories:
  - Regex: ^<.*\.h>
    Priority: 1
  - Regex: ^"(.*\.h|.*\.hpp)"
    Priority: 2
ReflowComments: true
